.input-container{
  display: flex;
  flex-direction: column;
}

.input-container > label{
  margin-bottom: 8px;
  font-size: 1.25rem;
  text-transform: capitalize;
}


/* https://getbem.com/introduction/ */
