.dog-containter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.dog-container > img{
    max-width: 250px;
    max-height: 25px;
}